.nunito {
  font-family: Nunito;

}

.spartan {
  font-family: League Spartan;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.overflow-y-scroll {
  height: 100vh; /* Atur tinggi kontainer agar sesuai dengan viewport */
  overflow-y: auto; /* Aktifkan overflow vertikal */
  scroll-snap-type: y mandatory; /* Aktifkan efek scroll snap vertikal */
}

section {
  height: 100vh; /* Atur tinggi setiap bagian agar sesuai dengan viewport */
  scroll-snap-align: start; /* Bagian akan tersnap ke atas ketika di-scroll */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  background-color: #f0f0f0; /* Warna latar belakang untuk membedakan bagian */
  margin: 0;
  padding: 0;
}

.splash-pertama {
  z-index: 1;
  transition: 1s;
}

section .air {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: url('src/Vector 4.png');
  background-size: 1000px 100px
}

section .air.air1 {
  animation: wave 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

section .air.air2 {
  animation: wave2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

section .air.air3 {
  animation: wave 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

section .air.air4 {
  animation: wave2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

.scrollButton a {
  position: absolute;
  bottom: 120px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #212121;
  font: normal 400 20px/1 'nunito', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.scrollButton a:hover {
  opacity: .5;
}


#down a {
  padding-top: 60px;
}

#down a span {
  position: absolute;
  border-radius: 3px;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 3px solid #212121;
  border-bottom: 3px solid #212121;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}


.contact_field .form-control{
 font-size: 23px;
 border-radius: 0px;
 border: none;
 border-bottom: 2px solid #212121;
}
.contact_field .form-control:focus{
 box-shadow: none;
 outline: none;
 border-bottom: 3px solid #000000;
}
.contact_field .form-control::placeholder{
 font-size: 20px;
 letter-spacing: 1px;
}


button.contact_form_submit {
 background-color: #212121;
 border: none;
 color: #fff;
 padding: 10px 15px;
 margin-top: 25px;
 border-radius: 5px;
 cursor: pointer;
 letter-spacing: 1px;
}


@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }

  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }

  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}

@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }

  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }

  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}


@keyframes wave {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 1000px;
  }
}

@keyframes wave2 {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: -1000px;
  }
}




